
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #242530;
  --text-primary: #fff;
  --text-secondary: #757575;
  --accent-color: #0e5e0e;
  --btn-color: #007b00;
  --border: 12px;
}
body {
  background-color: var(--bg);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}